body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-bottom: 0%;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    background-image: url(dries-augustyns-WzKPT0IuUrU-unsplash.jpg);
    
}

header {
    background-color: #ffffff;
    color: #020202;
    padding: 20px;
}

.top {
    display: flex;
    align-items: center;
}

.picture {
    flex: 0 0 30%;
    margin-right: 20px;
}

.picture img {
    width: 100%;
    border-radius: 40%;
}

.about {
    flex: 1;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: #a75050;
    text-decoration: none;
}

.menu li a :hover{
    color: #0c81f7;
    cursor:pointer;
    
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
 
}

section h2 {
    color: #0c81f7;
    margin-bottom: 10px;
    text-align: center;
}

section p {
    line-height: 1.5;
}

.heyy {
    display: flex;
   justify-content: center;
   max-height: max-content;

}

.education{
    height: 400px;
    

}
section .school {
    width: 30%;
    height: 9cm;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    border-style: ridge;
    color: #a75050;
    text-align: center;
}

.proj{
    display: flex;
    justify-content: center;
    max-height: max-content;
}

.proj .pro{
    width: 30%;
    flex-direction: column;
    height: 9cm;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    border-style: ridge;
    color: #a75050;
    text-align: center;
}

#contact{
    background-color: azure;
    
    margin-bottom: 0%;
}